#### Variabel

Variabel adalah sebuah tempat (di memori komputer) untuk menyimpan nilai dengan tipe data tertentu. Untuk memberikan nilai pada sebuah variabel, kitamenggunakan operator "=", antara nama variabeldengan nilai yang ingin disimpan.

In [1]:
a = 3

#### Print

Fungsi print() adalah cara mengeluarkan output langsung ke konsol/layar.

In [2]:
print('Apa kabar?')

Apa kabar?

#### Memasukkan nilai variabel pada string

Untuk memasukkan nilai variabel pada string, Python memiliki bebrapa cara
- Langsung menggabungkan variabel pada statement print().

In [3]:
a = 3

In [5]:
type(a)

int

In [7]:
print('Nilai variabel a adalah', a)

Nilai variabel a adalah 3

- Untuk menampilkan text (string), bisa menggunakanmekanisme string format

In [8]:
print('Nama saya {}' .format('Na Hee Do'))

Nama saya Na Hee Do

Menggunakan operator "%" yang ditambahkan dengan "argument specifiers"

Beberapa contoh argument specifier yang umum digunakan:
- %s - String
- %d - Integers
- %f - Bilangan desimal

In [9]:
nama = 'Back Yi Jin'

In [10]:
umur = 25

In [11]:
print('Umur %s adalah %d tahun.' % (nama, umur))

Umur Back Yi Jin adalah 25 tahun.

Task

In [24]:
nama2 = 'Dian Maulida'
umur2 = 20
tb = 1.6

In [27]:
# koma
print('Nama saya adalah', nama2, 'umur', umur2, 'tahun dan tinggi badan saya', tb, 'm.')

Nama saya adalah Dian Maulida umur 20 tahun dan tinggi badan saya 1.6 m.

In [34]:
# dot format
print('Nama saya adalah {}, umur {} tahun, dan tinggi badan saya {} m.' .format(nama2, umur2, tb))

Nama saya adalah Dian Maulida, umur 20 tahun, dan tinggi badan saya 1.6 m.

In [30]:
# argument specifier
print('Nama saya adalah %s, umur %d tahun, dan tinggi badan saya %f m.' % (nama2, umur2, tb))

Nama saya adalah Dian Maulida, umur 20 tahun, dan tinggi badan saya 1.600000 m.

#### Input

Untuk memungkinkan user memberikan input pada program Anda, gunakan fungsi input(), dengan argumen dalam kurung () adalah teks yang ingin ditampilkan (prompt) dan variabel sebelum tanda sama dengan (=) adalah penampung hasil dari input pengguna.

In [35]:
input()

test

'test'

In [36]:
nama = input("Nama saya:")

Nama saya:Dian

In [37]:
print(nama)

Dian

Secara default, input dari user adalah string

In [39]:
umur = input('Umur saya:')

Umur saya:20

In [40]:
print(umur)

20

In [41]:
angka = int(input())

13

In [42]:
type(angka)

int

Task

In [5]:
usia = int(input('Usia saya:'))

Usia saya:20

In [6]:
type(usia)

int

In [9]:
tb = float(input('Tinggi badan saya:'))

Tinggi badan saya:160.0

In [10]:
type(tb)

float